.rdf-store-dialog ui-draggable {
    position: fixed
}

#title-header {
    position: fixed;
    margin-top: 0px;
    padding-top: 5px;
    background: white;
    width: 940px;
    z-index: 100;
    border-bottom: 1px solid #DDD
}

#title-header a#title-link-back:hover {
    text-decoration: none
}

#title-header .header-options {
    text-align: right;
    margin-top: 12px
}

#title-header .separator {
    color: lightgray
}

#project-selection {
    margin-top: 100px
}

#project-selection .form-search {
    position: relative;
    width: 500px;
    height: 150px;
    background-color: whitesmoke;
    padding: 20px;
    margin: auto
}


#project-selection #project-name {
    width: 310px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bold
}

#project-selection #project-name-container {
    margin-top: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center
}

#project-name-inline {
    text-align: center;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    position: relative;
    margin-top: 20px;
    width: 100%
}

#project-name-spinner {
    position: relative;
    margin-left: -27px;
    margin-right: 10px;
    top: 4px
}

#project-selection #project-name-container button {
    width: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: bolder
}
#section-tabs {
    background: white;
    position: fixed;
    margin-top: 129px;
    padding-top: 10px;
    width: 100%;
    z-index: 100
}

#status-info {
    position: fixed;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 17px;
    border-top: 1px solid #DDD;
    background-color: #fff;
}

#resourceBeingLoadedText {
    color: gray;
    float: left
}

#uri-loaded-spinner {
    position: relative;
    float: right
}

#status-info #triples-counter {
    float: right;
    text-align: right
}

.tweet-ref {
    color: #00A0D1
}

.section-display {
    margin-top: 193px;
    margin-bottom: 50px
}

#rdfstore-frontend{
    top:60px;
    left:40px;
    position: fixed;
    z-index: 1000
}

#project-description {
    margin-bottom: 17px;
    border-bottom: 1px solid #DDD;
    position: fixed;
    padding-top: 15px;
    margin-top: 53px;
    Background: white;
    z-index: 100;
    padding-bottom: 5px
}

.project-header-name {
    float:left;
    margin-left: 20px;
}

.project-header-name h2 {
    font-size: 41px
}

.avatared {
    float:left;
    margin-left: 20px
}
.avatared img {
    width: 48px;
    height: 48px
}

.avatared span {
    position: relative;
    top: -23px
}

.project-header-counter {
    float: right;
    margin-left: 20px;
    bottom:-10px
}

.project-header-counter-num {
    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center
}
.project-header-counter-sub {
    text-align: center;
    margin-top: 5px
}
.selected-criterias {
    padding-top: 5px;
    padding-bottom: 13px;
    border-bottom: 1px solid #DDD;
    margin-left: 0px;
    margin-bottom: 15px;
    text-align: right;
    padding-bottom: 10px;
    background-color: white;
    z-index: 100;
}

.section-loader {
    position: relative;
    width: 400px;
    padding: 20px;
    margin: auto;
    margin-top: 30%;
    display: none
}

.selected-criterias .close-selection {
    color: gray;
    text-decoration: none;
    float: right;
    position: relative;
    top: 2px;
    margin-left: 10px;
    font-weight: bolder
}

.selected-criterias .span12 {
    margin-left: 0px
}

.selected-criterias a.close-selection:hover {
    color: gray
}

.question-body {
   margin-top: 5px;
   margin-left: 0px;
   padding-top: 15px;
   padding-bottom: 5px;
   border-top: 1px solid #DDD
}

.question-answer-container {
    margin-bottom: 50px;
    display: block
}

.mini-avatar {
    height: 30px
}

.question-tags {
    float: right;
    text-align: right;
    margin-top: 10px;
    margin-right: 33px;
    width: 100%;
    float: right
}

.source-badge {
    position: absolute;
    bottom: 5px;
    right: 10px    
}

.badges-container {
    position: relative
}

.tag {
    margin-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 4px;
    display: block;
    float: right
}

a.tag {
    text-decoration: none
}

a.tag:hover {
    color: white
}
.question-title-tags {
    padding-bottom: 0px
}

.answer-container {
    margin-left: 0px
}

.answer-body {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #DDD;
    margin-left: 0px
}

.answer-body span {
   background: white;
   padding: 5px;
   margin-top: 5px;
   margin-bottom: 5px
}

.answer-sub {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 15px;
    background: whiteSmoke;
    margin-left: 0px
}
.answer-sub .mini-avatar {
    margin-left: 15px
}

.answer-actions {
    float: right;
    margin-right: 15px;
    margin-top: 15px
}

.person-container {
    margin-bottom: 40px
}

.person-picture img {
    max-height: 80px
}

.person-badge {
    float: right;
    min-width: 100px;
    margin-bottom: 10px
}

.person-badge-counter {
    font-size: 22px;
    font-weight: bold;
    text-align: center
}
.person-badge-text {
    text-align: center;
    margin-top: 5px
}

.people-table-lable {
    width: 200px
}

.map-canvas {
    margin-top: 40px;
    width: 940px;
    height: 500px
}

.chart-title {
    margin-left: 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #DDD

}

.left-chart-title {
    margin-left: 0px
}

#tags-graph-chart-row {
    margin-top: 40px
}

#tags-tree-map-row {
    margin-top: 40px
}

#tags-tree-map-row {
    margin-top: 40px
}

reputation-chart-row {
    margin-top: 40px
}